<section class="about-me section" id="about-me">
  <div class="about-me-container container">
    <h2 class="about-title">ABOUT <span class="me">ME</span></h2>
    <div class="bio">
      <img
        srcset="./img/about.img/img.jpg 1x, ./img/about.img/img2x.jpg 2x"
        class="about-img"
        src="./img/about.img/img.jpg"
        alt="Lloyd Jefferson"
      />
      <div class="bio-info">
        <h3 class="bio-title title">BIO</h3>
        <p class="bio-first text">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="bio-second text">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>
    <div class="skills-container">
      <div class="education-box">
        <h3 class="education title">EDUCATION</h3>
        <ul class="education-list list text">
          <li class="education-item item">
            <span class="marker"></span>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-item item">
            <span class="marker"></span>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-item item">
            <span class="marker"></span>
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>

      <div class="role-box">
        <h3 class="role title">ROLE</h3>
        <ul class="role-list list text">
          <li class="role-item item">Frontend development</li>
          <li class="role-item item">HeadlessCMS, Wordpress</li>
          <li class="role-item item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
