<div class="container header-container">
  <a class="header-logo-link" href="/">
      <p> Lloyd <span class="header-logo-span">Jefferson.</span></p>
  </a>
  <a class="header-menu-open-btn" 
  href="/" target="_blank" 
  rel="noopener noreferrer">=
      <svg width="24" height="24" class="header-menu-open-icon-">
          <use href="/"></use>
      </svg>
   </a>
   
   <nav class="header-nav">
          <ul class="header-nav-list">
              <li class="header-nav-list-item">
                  <a href="#about_me" class="header-nav-list-link" >
                    About me
                  </a>
              </li>
              <li class="header-nav-list-item">
                  <a href="#projects" class="header-nav-list-link" >
                      Projects
                  </a>
              </li>
              <li class="header-nav-list-item">
                  <a href="#contacts" class="header-nav-list-link" >
                      Contacts
                    </a>
              </li>
          </ul>
      </nav>
</div>

<!--mobile_menu-->
<div class="mob-container" id="mob-menu">

<a class="mob-logo-link" href="#">
  <p> Lloyd <span class="header-logo-span">Jefferson.</span></p>
</a>

<a class="mob-menu-close-btn" 
href="/" target="_blank" 
rel="noopener noreferrer">X
<svg width="24" height="24" class="mob-menu-close-icon">
<use href="/"></use>
</svg>
</a>

<nav class="mob-nav">
<ul class="mob-nav-list">
  <li class="mob-nav-list-item">
      <a href="#about_me" class="mob-nav-list-link" >
        About me
      </a>
  </li>
  <li class="mob-nav-list-item">
      <a href="#projects" class="mob-nav-list-link" >
          Projects
      </a>
  </li>
  <li class="mob-nav-list-item">
      <a href="#contacts" class="mob-nav-list-link" >
          Contacts
        </a>
  </li>
</ul>
</nav>
</div>