<div class="header">
  <div class="container header-container">
    <a class="header-logo-link" href="">
      <p>Lloyd<span class="header-logo-span">Jefferson.</span></p>
    </a>
    <button
      class="menu-open_btn"
      type="button"
      id="menu-open_btn"
      title="Button for open mobile menu"
    >
      <svg width="32" height="32" class="menu-open-icon">
        <use href="./img/icons_header.svg#icon-open"></use>
      </svg>
    </button>

    <div class="header-nav-toggle">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <a href="#about_me" class="header-nav-list-link"> About me </a>
          </li>
          <li class="header-nav-list-item">
            <a href="#projects" class="header-nav-list-link"> Projects </a>
          </li>
          <li class="header-nav-list-item">
            <a href="#contacts" class="header-nav-list-link"> Contacts </a>
          </li>
        </ul>
      </nav>
      <div class="header-toggle">
        <input type="checkbox" class="check-input" id="toggleCheckbox" />
        <label for="toggleCheckbox" class="check-text"></label>
      </div>
    </div>
  </div>

  <!--mobile_menu-->
  <div class="mobile-menu" id="mobile-menu">
    <div class="mob-menu-wrap container">
      <a class="header-logo-link" href="/">
        <p>Lloyd<span class="header-logo-span">Jefferson.</span></p>
      </a>
      <button
        type="button"
        class="close-mobile-menu"
        id="close-mobile-menu"
        name="Close mobile menu"
      >
        <svg class="close-btn-icon" width="32" height="32">
          <use href="./img/icons_header.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-list-item">
          <a href="#about_me" class="mob-nav-list-link"> About me </a>
        </li>
        <li class="mob-nav-list-item">
          <a href="#projects" class="mob-nav-list-link"> Projects </a>
        </li>
        <li class="mob-nav-list-item">
          <a href="#contacts" class="mob-nav-list-link"> Contacts </a>
        </li>
      </ul>
    </nav>
  </div>
</div>