<section class="hero">

    <div class="container hero_container">
        <a href="#top" class="scroll__btn" id="scrollBtn">
            <svg class="scroll__svg" width="32" height="32">
                <use href="./img/icons.svg#icon-scroll-up"></use>
            </svg>
        </a>
        <div class="title-image-container">
            <h1 class="hero-title"><span class="iamspan">Hello, I am </span>fullstack developer</h1>
            <img src="./img/hero/img.png" alt="LloydJefferson." width="592px" height="444px" class="image">
        </div>
        <div class="button-text-container">
            <div class="btn-block">
                <div class="right-part">
                  <a href="#contacts" class="hero-btn-link">
                    <svg width="28" height="28" class="icon">
                        <use href="/img/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                    Order the project    
                  </a>
                </div>
                <div class="button-left-fn"></div>
            </div>

            <p class="hero-text">I work with people all over the world to create <span
                    class="iamspantwo">impressive</span> and <span class="iamspantwo">functional websites</span> that
                reflect each client’s unique personality. </p>
        </div>

    </div>
    <div class="socia-media-container">
        <ul class="hero-list">
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://github.com/Kate-Iva/portfolio-project-14"
                    target="_blank">GitHub</a>
            </li>
        </ul>

    </div>
</section>