<section class="hero">
    <div class="container hero_container">
<h1>Hello, I am Fullstack developer</h1>
<a href="#contacts" class="hero-btn">Order the project</a>
<p class="hero-text">I work with people all over the world to create impressive and functional websites that reflect each client´s unique personality. </p>
<ul class="hero-list">
<li class="hero-list-item">
    <a class="hero-list-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
</li>
<li class="hero-list-item">
    <a class="hero-list-link" href="https://www.youtube.com/c/GoIT" target="_blank">Facebook</a>
</li>
<li class="hero-list-item">
    <a class="hero-list-link" href="https://www.facebook.com/goITclub/" target="_blank">Linkedin</a>
</li>
<li class="hero-list-item">
    <a class="hero-list-link" href="https://github.com/Kate-Iva/portfolio-project-14" target="_blank">GitHub</a>
</li>
</ul>
    </div>
</section>