<section class="hero">

    <div class="container hero_container">

        <span class="title-image-container">
            <h1 class="herotitle"><span class="iamspan">Hello, I am </span>fullstack developer</h1>
            <img src="../img/hero/img.png" alt="heroimage" width="592px" height="444px" class="image">
        </span>
        <span class="button-text-container">
            <a href="/" class="hero-btn">
                <span class="button-left-fn">
                    <svg width="28" height="28" class="icon">
                        <use href="../img/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                    Order the project</span>
            </a>
            <p class="hero-text">I work with people all over the world to create <span
                    class="iamspantwo">impressive</span> and <span class="iamspantwo">functional websites</span> that
                reflect each client’s unique personality. </p>
        </span>

    </div>
    <div class="socia-media-container">
        <ul class="hero-list">
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.youtube.com/c/GoIT" target="_blank">Facebook</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://www.facebook.com/goITclub/" target="_blank">Linkedin</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-list-link" href="https://github.com/Kate-Iva/portfolio-project-14"
                    target="_blank">GitHub</a>
            </li>
        </ul>

    </div>
</section>