<section class="projects" id="projects">
    <div class="container projects-container">
    <h2 class="projects-tittle">MY <span>PROJECTS</span></h2>
<ul class="projects-list">
<li class="projects-list-items">
<picture>
    <source srcset="./img/wallet-1x.jpg 1x,
    ./img/wallet-1x.jpg 2x" />
    <img src="./img/wallet-1x.jpg" alt="wallet projects"  class="projects-item-img">
</picture>
<div class="tech-stack">React, JavaScript, Node JS, Git</div>
<div class="projects-item-conteiner">
<div class="projects-item-title">WALLET WEBSERVICE</div>
<a href="https://github.com/Kate-Iva/portfolio-project-14" class="projects-btn" target="_blank">VISIT
    <svg class="projects-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-visit"></use>
    </svg>
</a>
</div>
</li>
<li class="projects-list-items">
    <picture>
        <source srcset="./img/harvest-1x.jpg 1x,
        ./img/harvest-2x.jpg 2x" />
        <img src="./img/harvest-1x.jpg" alt="harvest projects" class="projects-item-img">
    </picture>
    <div class="tech-stack">React, JavaScript, Node JS, Git</div>
<div class="projects-item-conteiner">
    <div class="projects-item-title">GREEN HARVEST ONLINE STORE</div>
    <a href="https://github.com/Kate-Iva/portfolio-project-14" class="projects-btn" target="_blank">VISIT
        <svg class="projects-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-visit"></use>
        </svg>
    </a>
</div>
</li>
<li class="projects-list-items">
<picture>
    <source srcset="./img/english-1x.jpg 1x,
    ./img/english-2x.jpg 2x" />
    <img src="./img/english-1x.jpg" alt="english projects" class="projects-item-img">
</picture>
<div class="tech-stack">React, JavaScript, Node JS, Git</div>
<div class="projects-item-conteiner">
    <div class="projects-item-title">ENGLISH EXCELLENCE WEBSERVICE</div>
    <a href="https://github.com/Kate-Iva/portfolio-project-14" class="projects-btn" target="_blank">VISIT
        <svg class="projects-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-visit"></use>
        </svg>
    </a>
</div>
</li>
</ul>
<button class="load-more-button">LOAD MORE</button>
</div>
</section>