<section class="skills">
    <div class="container skills-container">
        <h2 class="skills-tittle visually-hidden">Tech skills</h2>
         <div class="ticker-above">
            <div class="skills-list">
                <span class="skills-item">JavaScript</span>
                <span class="skills-item">React</span>
                <span class="skills-item">Node. js</span>
                <span class="skills-item">React Native</span>
                <span class="skills-item">Typescript</span>
            </div>
         </div>

        <div class="ticker-bottom">            
            <div class="skills-list">
                <span class="skills-item-green">JavaScript</span>
                <span class="skills-item-green">React</span>
                <span class="skills-item-green">Node. js</span>
                <span class="skills-item-green">React Native</span>
                <span class="skills-item-green">Typescript</span>
            </div>
        </div>

    </div>

</section>