<section class="skills">
    <div class="container skills-container">
        <h2 class="skills-tittle visually-hidden">Tech skills</h2>
<h3 class="about-sub-tittle">EDUCATION</h3>
<ul class="about-list-education">
    <li class="education-item">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
    <li class="education-item">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
    <li class="education-item">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
</ul>
<h3 class="about-sub-tittle">ROLE</h3>
<ul class="about-list-role">
    <li class="role-item">Frontend development</li>
    <li class="role-item">HeadlessCMS, Wordpress</li>
    <li class="role-item">Blender (enjoy)</li>
</ul>
</div>
</section>