<section class="work_togather">
    <div class="container work-container">
<h3 class="work-sub-tittle">Contact me to transform your ideas into exceptional solutions.</h3>
<ul class="work-list">

<li class="work-list-item">
    <a href="/">
    <svg width="48" height="48" class="work-icon">
        <use href="/"></use>
    </svg>
    +38 090 456 78 90
    </a>
</li>

<li class="work-list-item">
    <a href="/">
    <svg width="48" height="48" class="work-icon">
        <use href="/"></use>
    </svg>
    lloydjefferson@gmail.com
    </a>
</li>

<li class="work-list-item">
    <a href="/">
    <svg width="48" height="48" class="work-icon">
        <use href="/"></use>
    </svg>
    USA, New York    
</a>
</li>

</ul>

<!--form-->
<form class="form" action="#"> 
 <div class="form-block">
    <label class="form-label" for="user-email">Email</label>
       <input class="form-input-name" type="email" id="user-email" name="user-email" >
    </div>
 
    <div class="form-label-textarea">
       <label class="form-label" for="user-comment">Comment
       <textarea class="input-textarea" id="user-comment" name="user-comment" 
       placeholder="Text input"></textarea>
 </label>
    </div>
 
     <button class="form-btn" type="submit">Send</button>
 </form>
    </div>
<!--modal-->

</section>