@font-face {
  font-family: 'Impact';
  src: local('Impact Regular'), local('Impact-Regular'),
      url('ImpactLTStd.woff2') format('woff2'),
      url('ImpactLTStd.woff') format('woff'),
      url('ImpactLTStd.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: 'Poppins', 'Impact Regular', 'Montserrat', sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  
  .container {
    width: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  @media screen and (min-width: 320px) {
    .container {
      max-width: 360px;
      padding: 0 20px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
