.image {
    display: none;
}
.hero-title {
    font-family: 'Impact', sans-serif;
    font-size: 64px;
    line-height: 80px;
    width: auto;

    color: rgba(0, 176, 104, 1);
    text-transform: uppercase;
}

.iamspan {
    color: black;
}

.hero-text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;

    text-transform: uppercase;

    width: 100%;
}

.hero-list-link {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.socia-media-container {
    background-color: #E4E5E6;
    padding: 32px;
}

.hero_container {
    padding-top: 112px;
    padding-bottom: 72px;
}

.hero-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.hero-list-item {
    transition: transform 250ms;
}
.hero-list-item:hover, .hero-list-item:focus {
    color: rgba(0, 176, 104, 1);
  }
  .btn-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}
.right-part {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.hero-btn-link {
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-transform: uppercase;
z-index: 5;
display: flex;
align-items: center;
}
.icon {
    display: flex;
    align-items: center;
}
.button-left-fn {
    position: relative;
    background-color: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    width: 165px;
    height: 92px;
    margin-left: auto;
    transition: transform 250ms;
}

.button-left-fn:hover {
    background-color: #00B06899;
}


.title-image-container {
    position: relative;
}

.button-text-container {
    margin-left: auto;
    margin-top: 30px;
}

.iamspantwo {
    color: #00B068;
}

.hero_container {
    background-image: url(/img/hero/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    padding-bottom: 80px;
}

.image {
    border-radius: 32px;
}

.icon {
    margin-right: 20px;
    fill: #00B068;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 136px;
        line-height: 156px;
    }

    .button-text-container {
        margin-left: auto;
        margin-top: 60px;
    }

    .btn-block {
        width: 416px;
    }

    .button-left-fn {
        width: 261px;
    }

       
    .hero-text {
        font-size: 20px;
        line-height: 1.6;
    }

    .socia-media-container {
        padding: 40px;
    }

    .hero-list {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .hero_container {
        background-image: url(/img/hero/bg-tablet.png);
    }
}

@media screen and (min-width: 1280px) {
    .hero_container {
        padding-top: 184px;
        background-image: url(/img/hero/bg-desktop.png);
        padding-bottom: 132px;
    }

    .image {
        display: block;
        position: absolute;
        width: 108px;
        height: 108px;

        top: 5px;
        left: 580px;
    }

    .iamspan{
        margin-right: 200px;
    }

    .button-text-container {
        margin-top: 80px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-block {
        margin-bottom: 0;
    }

    .hero-text {
        width: 592px;
    }
}

