.herotitle {
    font-family: 'Impact';
    font-size: 124px;
    font-weight: 400;
    line-height: 148px;
    letter-spacing: 1.7px;
    text-align: left;
    color: #00B068;
    width: 552px;
    height: 444px;
}

.iamspan {
    color: black;
}

.hero-text {
    height: 96px;
    width: 592px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
}

.hero-list-link {

    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.socia-media-container {
    background-color: #E4E5E6;
    height: 104px;
    padding: 40px;
}

.hero {
    padding-top: 88px;
   
    ;
}

.hero-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.hero-list-item:hover, .hero-list-item:focus {
    color: rgba(0, 176, 104, 1);
  }
  .btn-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 320px;
}
.right-part {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.hero-btn-link {
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-transform: uppercase;
z-index: 5;
display: flex;
align-items: center;
}
.icon {
    display: flex;
    align-items: center;
}
.button-left-fn {
    position: relative;
    background-color: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    width: 165px;
    height: 92px;
    left: 50%;
}

.button-left-fn:hover {
    background-color: #00B06899;
}


.title-image-container {
    display: flex;
    justify-content: space-between;


}

.button-text-container {
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    justify-content: space-between;
    margin-left: 100px;

}

.iamspantwo {
    color: #00B068;
}

.hero {
    background-image: url('../img/hero/background.png');
    background-repeat: no-repeat;
}

.image {
    border-radius: 32px;
}

.icon {
    margin-right: 20px;
    fill: #00B068;
}

@media screen and (min-width: 768px) and (max-width:1280px) {
    .image {
        display: none;
    }

    .herotitle {
        font-size: 124px;

    }

    .hero-text {
        width: 650px;
    }

    .button-text-container {
        display: block;
        margin-left: auto;
        margin-top: 80px;
    }

    .hero-btn {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .image {
        display: none;

    }

    .herotitle {
        font-size: 64px;
        line-height: 80px;
        height: 240px;
        width: auto;

    }

    .hero-text {

        line-height: 28px;
        width: 320px;
        height: 140px;
    }

    .hero-list {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .socia-media-container {
        height: 232px;
    }

    .button-text-container {
        display: block;
        margin-left: auto;
        margin-top: 30px;
    }

    .hero-btn {
        margin-bottom: 50px;
    }
}

