.reviews {
    margin-top: 40px;
    margin-bottom: 40px;
}
.reviews-container {
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
}
.reviews-title {
    color: var(--Black, #292929);
    font-family: Impact;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.reviews-list {
    margin-bottom: 24px;

}

.reviews-list-item {
    border-radius: 16px;
    background: var(--Light-grey, #E4E5E6);
    padding: 32px;
    

}
.reviews-text {
    max-width: 256px;
    height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--Black, #292929);
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.03em;
}
.author-information {
    display: flex;
    gap:16px;
    margin-top: 24px;
    align-items: center;
}
.author-image {
    border-radius: 24px;
}
.name-text {
    color: var(--Black, #292929);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(41, 41, 41, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--Light-grey, #E4E5E6);
}
 
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.3;
}

.swiper-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.swiper-icon{
    stroke: black;
    fill: transparent;
}
.not-found-item {
    margin: 0 auto;
    width: 343px;
    height: 300px;
    border-radius: 16px;
    background: var(--Light-grey, #E4E5E6);
    padding: 32px;
}

.not-found-text {
    text-align: center;
    color: var(--Black, #292929);
    font-family: Poppins;
    ont-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
    .reviews-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .reviews-title {
        font-size: 108px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    .reviews-text {
        max-width: 640px;
        height: 100px;
    }
}
@media screen and (min-width: 1280px) {
    .reviews-container {
        max-width: 1280px;
    }
    .reviews-text {
        max-width: 530px;
        height: 100px;
    }
}