/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');
